body {
  background-color: #1F3061;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.flexbox-item {
  border: 3px solid black;
}

.image-container {
  display: contents;
  flex: 1;
}

.content-container {
  flex: 1;
}

.anchor-container {
  flex: 1;
}

img {
  width: 80vw;
  max-width: 1000px;
}

p, a {
  width: 60vw;
  max-width: 600px;
  text-align: center;
  color: white;
  margin-top: 10%;
}