body {
  /*background-color: #1F3061;*/
  background-image: linear-gradient(35deg, #111a35, #314992);
  font-family: open-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.flexbox-item {
  flex: 1;
  text-align: center;
}

.image-container {
  display: contents;
}

.ilmarinen-logo {
  width: 70vw;
  max-width: 400px;
  margin-top: 50px;
}

.linkedin-logo {
  display: inline;
  height: 1.5em;
  position: relative;
  top: .35em;
  padding-right: 1em;
}

.valiant-logo {
  width: 70vw;
  max-width: 400px;
  margin-bottom: 50px;
}

h1 {
  display: inline;
  font-size: 1em;
}

.content-container {
  width: 80vw;
  max-width: 600px;
  text-align: center;
  margin-top: 10%;
  color: rgb(216, 216, 216);
  margin-bottom: 10%;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
}

a {
  color: white;
  text-decoration: none;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: #32498d;
  transition: .2s;
}

.button:hover {
  background-color: #1d2c55;
}

