body {
  background-color: #1F3061;
  font-family: open-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.flexbox-item {
  flex: 1;
  text-align: center;
}

.image-container {
  display: contents;
}

.ilmarinen-logo {
  width: 80vw;
  max-width: 1000px;
  margin-top: 50px;
}

.linkedin-logo {
  display: inline;
  height: 1.5em;
  position: relative;
  top: .25em;
  padding-right: 1em;
}

h1 {
  display: inline;
  font-size: 1em;
}

p {
  width: 60vw;
  max-width: 600px;
  text-align: center;
  margin-top: 10%;
  color: white;
}

a {
  margin-top: 10%;
  color: white;
  text-decoration: none;
}

a:hover {
  
}

